.chatbox{
  border:2px solid grey;
  border-radius: 5px;
  margin:5px 0;
  padding:10px;
  background-color: bisque;
}

.me .chatbox{
  background-color: blue;
  color: aliceblue;
}

.container{
  display: flex;
  
}
.container.me{
  flex-direction: row-reverse;
}

.btm{
  position: fixed;
  width: 100%;
  bottom: 2px ;
  display: flex;
  flex-direction: row;
}
.btm input{
  padding: 10px;
  flex-grow: 1;
}
.btm button{
  width: 10%;
  padding:10px 0px;
}